# Original work by Security-Onion-Solutions
# URL: https://github.com/Security-Onion-Solutions/securityonion
# Modified by: Matt Cundari

#search

#bug_fix
manager_ip_mask={{ ip }}/{{ netmask | netmask_to_cidr }} {# this is not the manager ip, it is the hosts ip????? #}

#is_reinstall=true
is_airgap=true

TESTING=true
INTERWEBS=AIRGAP
ADMINUSER={{ config.so_user }}
ADMINPASS1={{ config.pt_password }}
ADMINPASS2={{ config.pt_password }}
ALLOW_CIDR=0.0.0.0/0
ALLOW_ROLE=a
# BASICZEEK=7
# BASICSURI=7
# BLOGS=
# BNICS=eth0
# ZEEKVERSION=ZEEK
# CURCLOSEDAYS=
# EVALADVANCED=BASIC
# GRAFANA=1
# HELIXAPIKEY=
HNMANAGER={{ config.home_net }}
HNSENSOR=inherit
HOSTNAME={{ hostname }}
install_type=SEARCHNODE
# LSINPUTBATCHCOUNT=
# LSINPUTTHREADS=
# LSPIPELINEBATCH=
# LSPIPELINEWORKERS=
# MANAGERADV=BASIC
MANAGERUPDATES=1
MDNS={% if dns_search is defined and dns_search %}{{ dns }}{% else %}127.0.0.1{% endif %}
MGATEWAY={{ gateway }}
MIP={{ ip }}
MMASK={{ netmask | netmask_to_cidr }}
MNIC={{ mgmt_device }}
MSRV={{ config.manager[0].hostname }}
MSRVIP={{ config.manager[0].ip }}
MSEARCH={% if dns_search is defined and dns_search %}{{ dns_search }}{% else %}no.dns{% endif %}
# MTU=
# NIDS=Suricata
# NODE_ES_HEAP_SIZE=
# NODE_LS_HEAP_SIZE=
NODESETUP=NODEBASIC
NSMSETUP=BASIC
NODEUPDATES=MANAGER
# OINKCODE=
# OSQUERY=1
# PATCHSCHEDULEDAYS=
# PATCHSCHEDULEHOURS=
PATCHSCHEDULENAME=auto
# PLAYBOOK=1
# REDIRECTHOST=
# REDIRECTINFO=HOSTNAME
# RULESETUP=ETOPEN
# SHARDCOUNT=
SKIP_REBOOT=0
SOREMOTEPASS1={{ config.pt_password }}
SOREMOTEPASS2={{ config.pt_password }}
# STRELKA=1
# THEHIVE=1
WAZUH=1
WEBUSER={{ config.web_user }}
WEBPASSWD1={{ config.web_password }}
WEBPASSWD2={{ config.web_password }}
